@import "resets.scss"
@import "normalizes.scss"

$main-color: #F28B64

@mixin box
    width: 400px
    height: 400px
    background-color: grey


.block
    width: 400px
    height: 400px
    background-color: grey
    &__text
        color: $main-color

.block-2
    @include box
    margin-top: 20px